{% extends "homeUI/layout.html" %}

{% block content %}
<div class="container mt-3 mx-5 my-md-4 my-lg-4 my-xl-4 my-xxl-4">
    <h1 class="text-custom-dark-grey"><i class="bi bi-person-badge"></i> Customers Overview</h1>
</div>
<div class="container my-2">
    <div class="row">
        <div class="col">
            <form class="d-flex" role="search" method="GET" action="{% url 'customer' %}">
            <input class="form-control me-2" type="search" name="search" placeholder="Search customers" aria-label="Search" value="{% if search == "" or search == None%}{% else %}{{ search }}{% endif %}"/>
            <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <div class="col-12 my-4">
            <div class="card shadow rounded-3 border-1 px-2 py-2">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                    <caption>List of customers</caption>
                  <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">First</th>
                      <th scope="col">Last</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Address</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  {% for customer in pageObj %}
                      <tr>
                          <th scope="row">{{ customer.customer_id }}</th>
                          <td>{{ customer.first_name }}</td>
                          <td>{{ customer.last_name }}</td>
                          <td>{{ customer.contact_number }}</td>
                          <td>{{ customer.address }}</td>
                          <td>{{ customer.created_at }}</td>
                        </tr>

                    {% endfor %}
                </table>

                </div>
            </div>
        </div>
        <div class="col-12">
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                {% if pageObj.has_previous %}
                    <li class="page-item"><a href="?page={{ pageObj.previous_page_number }}" class="page-link">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a href="#" class="page-link">Previous</a></li>
                {% endif %}
                {% for num in pageObj.paginator.page_range %}
                    {% if pageObj.number == num %}
                        <li class="page-item active"><a class="page-link" href="#">{{ num }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if pageObj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ pageObj.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
                {% endif %}

              </ul>
            </nav>
        </div>
    </div>


</div>
{% endblock %}