{% extends "homeUI/layout.html" %} 

{% block content %}

<div class="container mt-3 mx-5 my-md-4 my-lg-4 my-xl-4 my-xxl-4">
    <h1>Dashboard Overview</h1>
    <p>{{ dateNow }}</p>
</div>
<div class="container text-center my-2">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 px-5 px-md-2 px-lg-2 px-xl-3 px-xxl-4 py-3">
      <div class="card shadow">
        <div class="card-header text-start bg-primary text-light"><i class="bi bi-diagram-3-fill"></i> Total Items</div>
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p class="fs-2">{{ totalItems }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              All products in <cite title="Source Title">Inventory</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 px-5 px-md-2 px-lg-2 px-xl-3 px-xxl-4 py-3">
      <div class="card shadow">
        <div class="card-header text-start bg-success text-light"><i class="bi bi-cash-coin"></i> Number of sales</div>
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p class="fs-2">₱ {{ sales }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Transactions processed
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 px-5 px-md-2 px-lg-2 px-xl-3 px-xxl-4 py-3">
      <div class="card shadow">
        <div class="card-header text-start bg-danger text-light"><i class="bi bi-star-fill"></i> Hit items</div>
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p class="fs-2">{{ hitItems }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Top selling items
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3 px-5 px-md-2 px-lg-2 px-xl-3 px-xxl-4 py-3">
      <div class="card shadow">
        <div class="card-header text-start bg-warning text-light"><i class="bi bi-person-fill-up"></i> Number of customers</div>
        <div class="card-body">
          <figure>
            <blockquote class="blockquote">
              <p class="fs-2">{{ totalCustomers }}</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              Registered <cite title="Source Title">Customers</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="mx-5 my-5">
{% endblock %}

{% block analytics %}

{% endblock %}
