{% extends "homeUI/layout.html" %}

{% block content %}
<div class="container mt-3 mx-5 my-md-4 my-lg-4 my-xl-4 my-xxl-4">
    <h1 class="text-custom-dark-grey"><i class="bi bi-diagram-2"></i> Items Overview</h1>
</div>
<div class="container my-2">
    <div class="row">
        <div class="col">
            <form class="d-flex" role="search" method="GET" action="{% url 'items' %}">
            <input class="form-control me-2" type="search" name="search" placeholder="Search items" aria-label="Search" value="{% if search == "" or search == None%}{% else %}{{ search }}{% endif %}"/>
            <button class="btn btn-outline-primary" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
        <div class="col-12 my-4">
            <div class="card shadow rounded-3 border-1 px-2 py-2">
                <div class="table-responsive">
                    <table class="table table-hover table-striped">
                    <caption>List of customers</caption>
                  <thead>
                    <tr>
                      <th scope="col">id</th>
                      <th scope="col">Name</th>
                      <th scope="col">Category</th>
                      <th scope="col">Price</th>
                      <th scope="col">Stock quantity</th>
                      <th scope="col">Date</th>
                    </tr>
                  </thead>
                  {% for item in items %}
                      <tr>
                          <th scope="row">{{ item.item_id }}</th>
                          <td>{{ item.item_name }}</td>
                          <td>{{ item.category }}</td>
                          <td>{{ item.price }}</td>
                          <td>{{ item.stock_quantity }}</td>
                          <td>{{ item.created_at }}</td>
                        </tr>

                    {% endfor %}
                </table>

                </div>
            </div>
        </div>
        <div class="col-12">
            <nav aria-label="...">
              <ul class="pagination justify-content-center">
                <li class="page-item"><a href="#" class="page-link">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item "><a class="page-link" href="#" aria-current="page">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>


</div>
{% endblock %}